env/
env/
ENV/
.env
.venv
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
envs/
wheels/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
chat_history.db
*.db
*.pub
*.pem
*.tar
*.zip
*.tar.gz
*.tar.xz
*.tar.bz2
*.pdf
*.docx
*.doc
*.xls
*.xlsx
backend/api_keys.py