unstructured==0.14.3
unstructured-client==0.22.0
tabula-py==2.9.3
gpt4all==2.6.0
pypdf==4.2.0
sentence-transformers==2.7.0
langchain==0.1.20
langchain_experimental==0.0.58
accelerate==0.30.1
bitsandbytes==0.43.1
ragatouille==0.0.8.post2
langchain_community==0.0.38
tiktoken==0.7.0
langchain-openai==0.1.7
langchainhub==0.1.17
langgraph==0.0.51
tavily-python==0.3.3
langchain-mistralai==0.1.7
text_generation==0.7.0
streamlit==1.35.0
chromadb==0.5.0
faiss-gpu==1.7.2
spacy==3.7.4
dropbox
cohere
lancedb
openparse
FlagEmbedding
tantivy>=0.20.1
